body {
  background-color: #eee !important;
  margin-top: 24px;
  padding: 0;
  font-family: sans-serif;
}

.status {
  color: #00C900;
  font-size: 24px;
}

.actionButton {
  margin: 4px;
}

.btn-link {
  text-decoration: none !important;
  outline: none !important;
}

.btn-link:hover {
  text-decoration: none !important;
}
